/* ===================================================================
 * fonts.scss)
 *
 * ------------------------------------------------------------------- */

/* Roboto * ================================================================================ */
@font-face {
	font-family: "roboto-light";
	src: url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-light-webfont.woff2") format("woff2"), url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-light-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-regular";
	src: url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-regular-webfont.woff2") format("woff2"), url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-regular-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-italic";
	src: url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-italic-webfont.woff2") format("woff2"), url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-italic-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-medium";
	src: url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-medium-webfont.woff2") format("woff2"), url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-medium-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-bold";
	src: url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-bold-webfont.woff2") format("woff2"), url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-bold-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-black";
	src: url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-black-webfont.woff2") format("woff2"), url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/roboto/roboto-black-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

/* Montserrat * ================================================================================ */
@font-face {
	font-family: "montserrat-regular";
	src: url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/montserrat/montserrat-regular-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "montserrat-bold";
	src: url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/montserrat/montserrat-bold-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

/*
 * Muli
================================================================================ */
@font-face {
	font-family: "muli-regular";
	src: url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/muli/muli-regular-webfont.woff2") format("woff2"), url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/muli/muli-regular-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "muli-light";
	src: url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/muli/muli-light-webfont.woff2") format("woff2"), url("https://hxsapp-test.oss-cn-hangzhou.aliyuncs.com/font/flow/muli/muli-light-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}