/* additional typo styles - (_additional-typo.scss)
 * ------------------------------------------------------------------- */

/* drop cap
 * ----------------------------------------------- */
.drop-cap:first-letter {
    float: left;
    margin: 0;
    padding: 1.5rem .6rem 0 0;
    font-size: 8.4rem;
    font-family: 'roboto-bold', sans-serif;
    line-height: 6rem;
    text-indent: 0;
    background: transparent;
    color: #151515;
}