/**
 * pagination - (_pagination.scss)
 * ------------------------------------------------------------------- */
.pagination {
    margin: 3rem auto;
    text-align: center;
}

.pagination ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-numbers {
    font-family: "montserrat-bold", sans-serif;
    font-size: 15px;
    line-height: 24px;
    display: inline-block;
    padding: 6px 12px;
    height: 36px;
    margin-right: 6px;
    margin-bottom: 9px;
    color: #2b2b2b;
    background-color: #dbdbdb;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.pagination .page-numbers:hover {
    background: #000000;
    color: white;
}

.pagination .current,
.pagination .current:hover {
    background-color: #000000;
    color: white;
}

.pagination .inactive,
.pagination .inactive:hover {
    background-color: #DBDBDB;
    color: #919191;
}
